<div id="footerwrap">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <h4>Quem Somos</h4>

              <div class="hline-w"></div>
              <p>
                  Com entusiasmo e amor pela educação infantil, a Moinho de Vento tem como prioridades o respeito,
                  bem-estar e a segurança de seus alunos.
              </p>
          </div>
          <div class="col-lg-4">
              <h4>Redes Sociais</h4>

              <div class="hline-w"></div>
              <p>
                  <a href="https://www.facebook.com/Centro-Educacional-Moinho-de-Vento-433759780168521/"
                     target="_blank"><i class="fa fa-facebook-official fa-4x"></i></a>

                  Conheça nossa página do facebook clicando neste ícone do facebook e faça parte do Centro
                  Educacional Moinho de Vento.
              </p>
          </div>
          <div class="col-lg-4">
              <h4>Nosso Endereço</h4>

              <div class="hline-w"></div>
              <p>
                  Rua Ipanema, 623,<br/>
                  Jardim Satélite, São José dos Campos,<br/>
                  SP, Brasil.<br/>
              </p>
          </div>

      </div>
      <! --/row -->
  </div>
  <! --/container -->
</div>
