<app-header></app-header>

<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
   <div id="blue">
    <div class="container">
        <div class="row">
            <h3>Quem Somos.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<!-- *****************************************************************************************************************
 AGENCY ABOUT
 ***************************************************************************************************************** -->

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="assets/img/cemoinhodeventologo.jpg" alt="">
        </div>

        <div class="col-lg-6">
            <h4>Quem Somos.</h4>
            <p>
                Com entusiasmo e amor pela educação infantil, a Moinho de Vento tem como prioridades o respeito,
                bem-estar e a segurança de seus alunos.
            </p>
            <p>
                Nosso principal objetivo é proporcionar ao seu filho um ambiente feliz e acolhedor, em que possamos
                desenvolver nas crianças a autonomia, criatividade e o espírito crítico, sem nunca abrir mão de uma
                aprendizagem significativa. Prepará-las para a vida, de forma lúdica, é a nossa grande meta.
            </p>
            <p>
                Oferecemos a seu filho um espaço acolhedor, colorido, arejado, seguro e adequado a seus interesses
                e necessidades. Proporcionamos uma metodologia pedagógica para que nossos alunos se tornem
                indivíduos questionadores, críticos, autônomos, ativos e participantes, transformando o meio através
                de suas ações.
            </p>
            <p><br/><a [routerLink]="['/contato']" class="btn btn-theme">Entre em contato</a></p>
        </div>
    </div><! --/row -->
</div><! --/container -->

<!-- *****************************************************************************************************************
	 TESTIMONIALS
	 ***************************************************************************************************************** -->
<div id="twrap">
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <i class="fa fa-comment-o"></i>

                <p>
                    Um dia uma criança chegou diante de um pensador e perguntou-lhe: "Que tamanho tem o universo?".
                    Acariciando a cabeça da criança, ele olhou para o infinito e respondeu: "O universo tem o tamanho do
                    seu mundo". Perturbada, ela novamente indagou: "Que tamanho tem meu mundo?". O pensador respondeu:
                    "Tem o tamanho dos seus sonhos".

                    Se seus sonhos são pequenos, sua visão será pequena, suas metas serão limitadas, seus alvos serão
                    diminutos, sua estrada será estreita, sua capacidade de suportar as tormentas será frágil. Os sonhos
                    regam a existência com sentido. Se seus sonhos são frágeis, sua comida não terá sabor, suas primaveras
                    não terão flores, suas manhãs não terão orvalho, sua emoção não terá romances. A presença dos sonhos
                    transforma os miseráveis em reis, faz dos idosos, jovens, e a ausência deles transforma milionários
                    em mendigos faz dos jovens idosos. Os sonhos trazem saúde para a emoção, equipam o frágil para ser
                    autor da sua história, fazem os tímidos terem golpes de ousadia e os derrotados serem construtores
                    de oportunidades.

                    Sonhe!.
                </p>
                <h4><br/>Augusto Cury</h4>
            </div>
        </div>
        <! --/row -->
    </div>
    <! --/container -->
</div><! --/twrap -->

<div class="spacing"></div>

<app-footer></app-footer>
