<app-header></app-header>

<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
 <div id="blue">
  <div class="container">
      <div class="row">
          <h3>Horário de Funcionamento.</h3>
      </div>
      <!-- /row -->
  </div>
  <!-- /container -->
</div><!-- /blue -->

<div class="container">
  <div class="row centered">
      <h2>Das 7:00 às 19:00</h2>
  </div>
  <div class="row centered">
      <div class="col-md-3">
          <h4><i class="fa fa-check"></i>Meio período</h4>
          <p><img class="img-responsive" src="assets/img/img021.JPG"></p>
          <!--<p>ALGUM TEXTO.</p>-->
      </div>
      <div class="col-md-3">
          <h4><i class="fa fa-check"></i>Semi-integral</h4>
          <p><img class="img-responsive" src="assets/img/img030.jpg"></p>
          <!--<p>ALGUM TEXTO.</p>-->
      </div>
      <div class="col-md-3">
          <h4><i class="fa fa-check"></i>Integral</h4>
          <p><img class="img-responsive" src="assets/img/img020.JPG"></p>
          <!--<p>ALGUM TEXTO.</p>-->
      </div>
      <div class="col-md-3">
          <h4><i class="fa fa-check"></i>Recreação</h4>
          <p><img class="img-responsive" src="assets/img/img019.JPG"></p>
          <!--<p>ALGUM TEXTO.</p>-->
      </div>
  </div>
  <!-- Segunda Linha -->

</div><! --/container -->

<div class="container">
  <div class="row centered">
      <h2>Modalidades</h2>
  </div>
  <div class="row centered">
      <div class="col-md-4">
          <h4><i class="fa fa-check"></i>Berçário à partir de 4 meses de idade.</h4>
          <p><img class="img-responsive" src="assets/img/img017.JPG"></p>
          <!--<p>ALGUM TEXTO.</p>-->
      </div>
      <div class="col-md-4">
          <h4><i class="fa fa-check"></i>Educação Infantil de 2 a 5 anos.</h4>
          <p><img class="img-responsive" src="assets/img/img018.JPG"></p>
          <!--<p>ALGUM TEXTO.</p>-->
      </div>
      <div class="col-md-4">
          <h4><i class="fa fa-check"></i>Recreação de 3 a 7 anos.</h4>
          <p><img class="img-responsive" src="assets/img/img029.jpg"></p>
          <!--<p>ALGUM TEXTO.</p>-->
      </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="row centered">
      <h2>Horário de Funcionamento Especial</h2>
      <p><b>Das 6:40 às 19:00</b></p>
      <p>Trabalhamos com horários: Meio período, Integral e Semi-integral.</p>
  </div>
</div>
<div class="spacing"></div>

<app-footer></app-footer>
