<app-header></app-header>

<!-- *****************************************************************************************************************
 BLUE WRAP
 ***************************************************************************************************************** -->
 <div id="blue">
  <div class="container">
      <div class="row">
          <h3>Rotina Diária.</h3>
      </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->


<!-- *****************************************************************************************************************
BLOG CONTENT
***************************************************************************************************************** -->

<div class="container mtb">
  <div class="row">

      <! -- SINGLE POST -->
      <div class="col-lg-12">
          <! -- Blog Post 1 -->
          <p align="center"><img class="img-responsive" src="assets/img/cemoinhodeventologo.jpg" style="width: 25%; height: 25%;"></p>
          <h4>Nossa Rotina Diária.</h4>
          <blockquote>
              <p>
                  A rotina é fundamental para o bom andamento das atividades escolares, permitindo planejar e organizar
                  as atividades da criança e concretizar as intenções educativas de educador.
              </p>
              <p>
                  Nossa rotina é pensada a partir de um planejamento prévio, realizado pela equipe pedagógica e apresenta
                  ferramentas ara que os pais possam participar ativamente.
              </p>
              <p>
                  As atividades permanentes permite que a criança se sinta segura no ambiente escolar. Uma rotina clara
                  e bem definida, planejada de forma coerente com a idade do aluno e o que se espera dele, permite
                  que este a incorpore e possa antecipar o que vai acontecer ao longo do dia, evitando ansiedade e euforia.
                  A repetição de uma rotina diária bem organizada faz com que, com o passar o tempo, as crianças se
                  acostumem com os "combinados", e desenvolvam maior autonomia na sua realização.
              </p>
              <p>
                  O planejamento das atividades diárias é realizado em consonância com um conjunto geral de objetivo
                  pedagógicos, contribuindo para estes sejam alcançados com sucesso.
              </p>
              <p>
                  Observamos e registramos cada momento:
              </p>
              <h4>Entrada e saída</h4>
              <p>
                  Como eles chegam a escola, observando comportamento e o corpo. Na saída, caso
                  necessário um rápido diálogo com os pais;
              </p>
              <h4>Atividades</h4>
              <p>
                  O desenvolvimento da linguagem, da motricidade, da afetividade, das relações que
                  estabelece com o objeto de aprendizagem e com os colegas e educadores, como expressa e entende as
                  orientações do professor para os momentos de falar, de ouvir, de organizar os espaçoes, o cuidado
                  com os materiais, identificar as dificuldades da criança e em quais atividades tem maior domínio;
              </p>
              <h4>Refeições</h4>
              <p>
                  A autonoma em se alimentar, em se servir, a postura à mesa, a utilização dos utensílios, a mastigação;
              </p>
              <h4>Higiene</h4>
              <p>
                  O reconhecimento de seu corpo, do asseio, a manipulação dos instrumentos de higiene,
                  o prazer com a higiene, a agilidade ao despir-se e vestir-se;
              </p>
              <h4>Descanço</h4>
              <p>
                  acompanhar o sono. O comportamento durante o período de repouso;
              </p>
          </blockquote>
          <div class="spacing"></div>
          <div class="fb-like" data-href="https://www.facebook.com/Centro-Educacional-Moinho-de-Vento-433759780168521/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
          <h6>Deixe seu comentário:</h6>
          <div class="fb-comments" data-href="https://www.facebook.com/Centro-Educacional-Moinho-de-Vento-433759780168521" data-numposts="5" data-adapt-container-width="true"></div>

      </div><! --/col-lg-12 -->
  </div><! --/row -->
</div><! --/container -->

<hr>

<div class="spacing"></div>

<div class="container">
  <div class="row centered">
      <div class="col-md-3">
          <h4><i class="fa fa-check"></i>Alimentação / Mamadeiras.</h4>

          <p><img class="img-responsive" src="assets/img/alimentacao.png"></p>

          <!--<p>ALGUM TEXTO.</p>-->
      </div>
      <div class="col-md-3">
          <h4><i class="fa fa-check"></i>Banho de Sol.</h4>

          <p><img class="img-responsive" src="assets/img/banhodesol.png"></p>

          <!--<p>ALGUM TEXTO.</p>-->
      </div>
      <div class="col-md-3">
          <h4><i class="fa fa-check"></i>Higiêne / Troca de fraldas.</h4>

          <p><img class="img-responsive" src="../../assets/img/troca.png"></p>

          <!--<p>ALGUM TEXTO.</p>-->
      </div>
      <div class="col-md-3">
          <h4><i class="fa fa-check"></i>Banho.</h4>

          <p><img class="img-responsive" src="assets/img/banho.png"></p>

          <!--<p>ALGUM TEXTO.</p>-->
      </div>
  </div>
  <!-- Segunda Linha -->
  <div class="row centered">
      <div class="col-md-3">
          <h4><i class="fa fa-check"></i>Sala de Estimulação.</h4>

          <p><img class="img-responsive" src="assets/img/estimulacao.png"></p>

          <!--<p>ALGUM TEXTO.</p>-->
      </div>
      <div class="col-md-3">
          <h4><i class="fa fa-check"></i>Contação de História.</h4>

          <p><img class="img-responsive" src="../../assets/img/historia.png"></p>

          <!--<p>ALGUM TEXTO.</p>-->
      </div>
      <div class="col-md-3">
          <h4><i class="fa fa-check"></i>Roda de Música.</h4>

          <p><img class="img-responsive" src="assets/img/musica.png"></p>

          <!--<p>ALGUM TEXTO.</p>-->
      </div>
      <div class="col-md-3">
          <h4><i class="fa fa-check"></i>Soninho.</h4>

          <p><img class="img-responsive" src="assets/img/sono.png"></p>

          <!--<p>ALGUM TEXTO.</p>-->
      </div>
  </div>

  <div class="spacing"></div>
</div>

<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '356304381411185',
    xfbml      : true,
    version    : 'v2.8'
  });
};

(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<app-footer></app-footer>
