<app-header></app-header>

<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
   <div id="blue">
    <div class="container">
        <div class="row">
            <h3>Alimentação.</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->


<!-- *****************************************************************************************************************
 BLOG CONTENT
 ***************************************************************************************************************** -->

<div class="container mtb">
    <div class="row">

        <! -- SINGLE POST -->
        <div class="col-lg-12">
            <! -- Blog Post 1 -->
            <p align="center"><img class="img-responsive" src="assets/img/cemoinhodeventologo.jpg" style="width: 25%; height: 25%;"></p>
            <h4>Alimentação das crianças.</h4>
            <blockquote>Cardápio específico para cada faixa etária. Em caso de alergia a algum alimento, fazemos a adaptação do cardápio.</blockquote>

            <p>Os hábitos alimentares saudáveis são uma herança que fica para toda a vida e começam logo após o nascimento, com a amamentação. Os pais são modelos para seus filhos, porém a escola tem o seu papel. </p>
            <p>Uma alimentação saudável é determinante para um bom desenvolvimento físico e intelectual, além de promover a saúde e o bem-estar da criança. Um padrão alimentar saudável deve ser equilibrado, completo, variado, agradável ao gosto de cada um, ao paladar e à vista.</p>
            <p>A Moinho de Vento utiliza de um cardápio rico e variado para proporcionar aos alunos essa alimentação mais saudável, contamos com a parceria da Nutricionista e Educadores.</p>
            <div class="row centered">
                <div class="col-md-6">
                    <p align="center"><img src="assets/img/hamburger.png" class="img-responsive icone" alt=""></p>
                    <p>Lanche da Manhã</p>
                </div>
                <div class="col-md-6">
                    <p align="center"><img src="assets/img/room-service.png" class="img-responsive icone" alt=""></p>
                    <p>Almoço</p>
                </div>
                <div class="col-md-6">
                    <p align="center"><img src="assets/img/hot-dog.png" class="img-responsive icone" alt=""></p>
                    <p>Lanche da Tarde</p>
                </div>
                <div class="col-md-6">
                    <p align="center"><img src="assets/img/tray.png" class="img-responsive icone" alt=""></p>
                    <p>Pré Jantar</p>
                </div>
            </div>
            <div class="row centered">
                <p align="center"><img src="assets/img/milk.png" class="img-responsive icone" alt=""></p>
                <p>Berçários I e II - Mamadeiras.</p>
            </div>

            <div class="spacing"></div>
            <div class="fb-like" data-href="https://www.facebook.com/Centro-Educacional-Moinho-de-Vento-433759780168521/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
            <h6>Deixe seu comentário:</h6>
            <div class="fb-comments" data-href="https://www.facebook.com/Centro-Educacional-Moinho-de-Vento-433759780168521" data-numposts="5" data-adapt-container-width="true"></div>
        </div><! --/col-lg-12 -->
    </div><! --/row -->
</div><! --/container -->

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '356304381411185',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<app-footer></app-footer>
